﻿@model Jenkins.Frontend.Web.Models.JenkinsMasterModel

@{
  ViewBag.Title = "Home Page";
}

@if (Model.Jobs != null && Model.Jobs.Any())
{

  @Html.Raw("Active Jobs:")

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Job Name.</th>
        <th>Status.</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var @j in @Model.Jobs)
      {
        <tr>
          <td>@j.Name</td>
          <td>@j.Colour</td>
          <td>@Html.ActionLink("Build", "Build", "Home", new { name = j.Name }, new { @class = "btn btn-primary btn-xs" })</td>
        </tr>
      }
    </tbody>
  </table>
}